{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"node": true
	},
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "^_",
				"destructuredArrayIgnorePattern": "^_"
			}
		],

		"no-prototype-builtins": "off",

		//

		"arrow-body-style": ["error", "as-needed"],
		"default-case": "error",
		"func-names": ["error", "as-needed"],
		"guard-for-in": "warn",
		"no-async-promise-executor": "warn",
		"no-bitwise": [
			"error",
			{
				"allow": ["~"]
			}
		],
		"no-case-declarations": "error",
		"no-else-return": "error",
		"no-lonely-if": "error",
		"no-param-reassign": ["error"],
		"no-plusplus": "error",
		"no-return-assign": "error",
		"no-return-await": "error",
		"no-useless-concat": "error",
		"no-useless-escape": "error",
		"object-shorthand": "error",
		"prefer-destructuring": "error",
		"prefer-promise-reject-errors": "warn",
		"prefer-template": "error",
		"eqeqeq": "warn",
		"radix": "warn"
	}
}
